
input.wpcf7-not-valid {
	border: 2px solid #c0392b !important;
}

span.wpcf7-not-valid-tip {
	color: #fff;
	font-size: 1em;
	display: block;
	background: #c0392b;
	margin: 5px 0;
	padding: 5px;
	display: table;
}

div.wpcf7-validation-errors {
	border: none !important;
    padding: 10px;
    color: #fff;
}

div.wpcf7-mail-sent-ok {
	border:none !important;
	color: #fff;
    background: #27ae60;
    padding: 10px;
}