<style media="screen">
  a {
    font-size: 30px;
    font-weight: bold;
  }
</style>

<ul>
  <li><a href="index.html">index</a></li>
  <li><a href="index-without-video.html">Index - Without video</a></li>
  <li><a href="cataloge.html">Cataloge</a></li>
  <li><a href="single-product.html">Projects - Product</a></li>
  <li><a href="projects.html">Projects</a></li>
  <li><a href="single-project.html">Projects - Project</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="contact.html">Contact</a></li>

</ul>
